.profile {
	background-color: #f6e6ff;
	border-radius: 0px 0px 10px 10px;
}
.p-user-name {
	font-size: 18px;
	cursor: pointer;
	&:hover {
		color: #6b5ef0;
	}
}
.p-user-id {
	font-size: 14px;
	opacity: 0.5;
}
.p-btn {
	transform: rotate(90deg);
	filter: invert(1);
}
.p-image {
	border-radius: 50%;
}
.psb-title {
	font-size: 16px;
}
.ps-btn-2 {
	border-radius: 0px 0px 10px 10px;
}
.ps-btn:hover {
	background-color: #e7bdff;
}
